@CHARSET "UTF-8";
body {
 width: 100% ;
 padding: 0 ;
}

table.type12 {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
}

table.type12 th {
	/* width: 155px; */
	padding: 10px;
	font-weight: bold;
	color: #fff;
	background: #3595db;
}

table.type12 td {
	/* width: 155px; */
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

th {
	white-space: nowrap;
	text-align: center !important;
}

td {
	text-align: center !important;
}

table.atform{
	table-layout: auto;
	width:40%;
	border-collapse: separate;
	border-spacing: 0px 10px;
}
.close{
	align: right;
}

.lock {
    overflow:hidden;
}
#modal-innar{
 margin:0 auto;
 width:100%;
}
.print-off {
    display: none;
}

.print-btn{
	width:50%;
    margin: 20px auto;
    padding: 10px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    background-color: #666;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    cursor: pointer;
}


#modal-atlist{
	display: none ;
	width:80%;
	max-height:80%;
	margin:0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2 !important;
	position:fixed;
	overflow-y: scroll;
}

#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

/*プリント用CSS*/
@media print {
  .modal-body{
    width: 100%;
  }
  .print-btn{
    display: none;
  }
}

/* 削除用モーダルのCSS */
#modal-deleteMain {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}

#modal-bg{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
