h2{
    text-align:center;
}

body{
	background-image: url("pic/bulletinboard.jpg");
	background-repeat: no-repeat;
	attachment: fixed;

}

table.grouptext{
    width:100%;
    border-collapse:separate;
    border-spacing: 0px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    margin: 20px;


}

table.grouptext th{
    text-align: center;
    height: 20px;
    padding: 4px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;

}

table.grouptext td{
    text-align: center;
    font-family: "MSÉSÉVÉbÉN";
    height: 50px;
    padding: 4px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}