@CHARSET "UTF-8";

.btn {
  background: #3498db;
/*   -webkit-border-radius: 28; */
/*   -moz-border-radius: 28; */
   border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 50px 10px 50px;
}
