.delete {
	display: none;
}

.delete-prepare {
	display: none;
}

.modalDelete {
	display:inline-block;
}

#main-box{
}

.print-page{
}

#operation{
	width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:500px;
	margin-bottom:30px;
	text-align:center;
}

/* #operation2{
	width:700px;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	clear:left;
	clear:right;
	clear:both;
} */

#schedule{
	text-align:center;
}

/* .blockA{
	float:left;
	margin-left:30px;
}

.blockB{
	float:right;
	margin-right:30px;
}

.blockC{
	text-align:right;
	padding-top:30px;
	clear:left;
	clear:right;
	clear:both;
} */
#operation2{
	text-align:center;
}

footer{
	clear:left;
	clear:right;
	clear:both;
}
 tr, th,td {
	background-color:transparent;
	border: transparent 1px solid;
	}
.table{
	border-collapse: collapse;
	border-spacing: 0;
}


/* モーダル コンテンツエリア */
#modal-main {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#modal-style {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.modal_border {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.modal_border td {
	width: 75%;
	padding: 4px;
	background-color: #fafafa;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* ここからカレンダー用 */
#calendar{
	height:200px;
	width:800px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	page-break-after: always;
}

/*土曜日と日曜日の色を変更*/
.fc-sat {
	color: #0080ff;
}
.fc-sun {
	color: #ff0000;
}


/*html上表示する必要のない情報を隠す*/
.hidden {
	visibility: hidden;
}

/*印刷用css*/
.off {
	display: none;
}

.pagetop{
	position:fixed;
	bottom:100px;
	right:40px;
  	width:75px;
	height:75px;
 	text-align:center;
 	background-color:#2a82a3;
 	border-radius: 50%;
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
}

.pagetop-info{
	padding-top:28px;
	color:white;
}

.pagetop:hover {
	background: #2a82a3;
	color: #FFF;
	border: 1px solid #FFF;
}


/*印刷するときに適用されるCSS*/
@media print{
	#calendar{
		font-size:18px;
	}

	#operation{
		width:700px;
		margin:auto;
	}


}

/*widthが640px以下のデバイス(スマホなど)で反映されるCSS*/
@media only screen and (max-device-width : 640px){

		h1{
			font-size:20px;
		}

        #calendar {
        	margin-top:10px;
        	width: 100% !important;
        }
        #operation {
            width: 100%;
            margin-top:150px;
        }

         #operation2 {
            width: 100%;
        }
        .scheduleStartdayList,
        .scheduleEnddayList {
            width:80px;
        }
        .scheduleTitleList {
            width: 100px;
        }
        #schedule th:nth-child(5),
        #schedule td:nth-child(5) {
            display: none;
        }

        #modal-main{
        	width: 100%;
        }

        .blockA{
	        margin-left:10px;
        	float:left;
        }

        .blockB{
        	margin-right:10px;
        	float:right;
        }

        .blockC{
        	width:350px;
        	text-align:center;
			clear:left;
			clear:right;
			clear:both;
		}

		.pagetop{
			width:50px;
			height:50px;
			right:20px;
		}

		.pagetop-info{
			font-size:11px;
			padding-top:18px;
			color:white;
		}


		.print-btn{
			visibility:hidden;
		}

}